
/* Fonts */

/* Variables */

:root {
  --solarized-base03:    #002b36;
  --solarized-base02:    #073642;
  --solarized-base01:    #586e75;
  --solarized-base00:    #657b83;
  --solarized-base0:     #839496;
  --solarized-base1:     #93a1a1;
  --solarized-base2:     #eee8d5;
  --solarized-base3:     #fdf6e3;
  --solarized-yellow:    #b58900;
  --solarized-orange:    #cb4b16;
  --solarized-red:       #dc322f;
  --solarized-magenta:   #d33682;
  --solarized-violet:    #6c71c4;
  --solarized-blue:      #268bd2;
  --solarized-cyan:      #2aa198;
  --solarized-green:     #859900;

  --main-font: Avenir, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --main-font-size: 40px;

  --code-font: Menlo, Monaco, Source Code Pro, monospace;
  --code-font-size: 0.9em;

  --block-margin: 20px;

  --h1-font-size: 2.2em;
  --h2-font-size: 1.6em;
  --h3-font-size: 1.2em;
}

/* --- Global styles -------------------------- */
body {
  background-color: var(--solarized-base3);
}

.reveal {
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--main-font-size);
  font-weight: normal;

  /* Normally body copy in Solarized Light is base00,
   * but I like it darker. */
  color: var(--solarized-base02);

  cursor: initial;
}

.reveal .slides section,
.reveal .slides section>section {
  line-height: 1.3;
  font-weight: inherit;
}

/* --- Headers -------------------------------- */

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 var(--block-margin) 0;

  text-transform: none;
  font-weight: normal;
  line-height: 1.2;

  color: var(--solarized-blue);

  word-wrap: break-word;

  font-variant-ligatures: none;
}

.reveal h1 { font-size: var(--h1-font-size); }
.reveal h2 { font-size: var(--h2-font-size); }
.reveal h3 { font-size: var(--h3-font-size); }

.reveal .title {
  /* Clicking the title toggles the theme */
  cursor: pointer;
}

/* --- Layout --------------------------------- */

.reveal .slides {
  text-align: left;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}


/* --- Other typography ----------------------- */

.reveal p {
  margin: var(--block-margin) 0;
  line-height: 1.3;
}

.reveal strong,
.reveal b {
  font-weight: bold;
  color: var(--solarized-blue);
}

.reveal em {
  font-style: italic;
}

.reveal a {
  color: var(--solarized-blue);
  text-decoration: none;
}

.reveal a:hover {
  text-decoration: underline;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}
.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}


/* --- Lists ---------------------------------- */

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;

  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ol ol {
  list-style-type: lower-alpha;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

/* --- Code ----------------------------------- */

.reveal code {
  font-family: var(--code-font);
  font-size: var(--code-font-size);
}

.reveal strong code,
.reveal b code {
  /* Strong text is already blue and monospace fonts tend to be heavier than body text. */
  font-weight: normal;
}

.reveal pre {
  display: block;
  position: relative;
  width: 100%;
  margin: var(--block-margin) initial;

  font-size: 0.55em;
  font-family: var(--code-font);
  line-height: 1.2em;

  word-wrap: break-word;
}

.reveal pre code {
  display: block;
  padding: 10px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

/* --- Quotes --------------------------------- */

.reveal blockquote {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 1em;

  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

/* --- Tables --------------------------------- */

.reveal table {
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}


/* --- Images --------------------------------- */
/* Nothing for images :) */

/* --- Navigation controls -------------------- */
/* We don't even use the controls */

.reveal .controls {
  color: var(--solarized-blue);
}

/* --- Progress bar --------------------------- */

.reveal .progress {
  background: rgba(0,0,0,0.2);
  color: var(--solarized-blue);
}

/* --- Print background ----------------------- */
@media print {
  .backgrounds {
    background-color: var(--stripe-base3);
  }
}

/* --- Slide numbers -------------------------- */
/* These aren't usually meant to be changed. */

.reveal .slide-number {
    /* reset parent styles */
    right: initial;
    background: none;

    /* override parent styles */
    font-family: var(--main-font);
    font-size: 0.7em;
    font-weight: bold;

    color: var(--solarized-base1);

    left: 0.4em;
    bottom: 0.4em;
}

/* --- Solarized Dark ------------------------- */

html.solarized-dark {
  /* Define these as their opposites to enable dark mode */
  --solarized-base03:    #fdf6e3;
  --solarized-base02:    #eee8d5;
  --solarized-base01:    #93a1a1;
  --solarized-base00:    #839496;
  --solarized-base0:     #657b83;
  --solarized-base1:     #586e75;
  --solarized-base2:     #073642;
  --solarized-base3:     #002b36;
}

/* The solarized.theme file can't use CSS variables,
 * so we have to flip some colors manually. */
html.solarized-dark pre.numberSource code > span > a:first-child::before,
html.solarized-dark code span.an,
html.solarized-dark code span.co,
html.solarized-dark code span.cv,
html.solarized-dark code span.in {
  color: var(--solarized-base1);
}
